@charset "utf-8";


html{
	font-size: 16px;
	}
	

.flex-container{
	display: flex;
    justify-content: center;
	align-items: center;
	height: 720px;
	
}


.box{
	background-color: rgb(202, 232, 250);
	border: solid 1px blue;
	width: 300px;
	height: 140px;
	}

.boxcharge{
		position:absolute;
		width:300px;
		height:140px;
		background-color: rgba(255,255,255,0.6);
		display: block;
	
}

.hidden{
		
		display: none;
}



#loader{
	position: absolute;
	margin: auto;
	top: 0;
    left: 0;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 60px;
    
}


.box p{
	font-size: 0.6em rgba(0, 0, 0, 0,5);
	text-align: center;	
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 1%;
}

form{
	width: 100%;
	height: 83%;
	display: flex;
	flex-direction: column;
    align-items: center;
	
    } 

form input{
	
	border:solid 1px darkgray;
	width:70%;
	margin:2px 1%;
	padding:6px 1%;
	background:#eee;
	font-family: 'Signika', sans-serif;
	text-align: center;
	}

	#execute{
	border:solid 1px darkgray;
	border-radius: 5px;
	width:30%;
	margin:10px 1%;
	padding:5px 1%;
	background:#eee;
	font-family: 'Signika', sans-serif;
	box-shadow: 0px 10px 10px -10px
	rgba(0,0,0,0.4);
	transition-duration:400ms;
	}

	#execute:hover{
		background:rgb(253, 249, 4);
		color:white;
	}

	.change{
		background-color: rgb(165, 255, 80);		
		position:absolute;
		display: flex;
        justify-content: center;
	    align-items: center;
		width:500px;
		height: 250px;
		font-size: 30px;
		top:50%;
		left:50%;
		margin-left:-275px;
        margin-top: -200px;
		animation-name:changeAnimation;
	    animation-duration: 2s;
	}

	@keyframes changeAnimation{
		from{
			width:10px;
			height:10px;
			top:40%;
			left:45%;
			opacity:0;
			font-size:0px;
		}
		to{
			top:50%;
			left:50%;
			width:500px;
			height:250px;
			margin-left:-275px;
			margin-top: -200px;
			font-size:30px;
		}
	}

	.error{
		background-color: rgb(236, 236, 236);
		border:solid red 2px;		
		position:absolute;
		display: flex;
        justify-content: center;
	    align-items: center;
		width:500px;
		height: 250px;
		font-size: 30px;
		padding: 10px;
		top:50%;
		left:50%;
		margin-left:-275px;
		margin-top: -200px;
		animation-name: appearError;
		animation-duration: 2s;
	}	

	@keyframes appearError{
		from{
			width:0;
			opacity:0;
			font-size:0px;
		}
		to{
			width:500px;
			opacity:1;
			font-size:30px;
		}
	}